USE [master]
GO
/****** Object:  Database [QuanLyNhanVien]    Script Date: 15/05/2026 8:56:12 am ******/
CREATE DATABASE [QuanLyNhanVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhanVien', FILENAME = N'D:\SQLExpressEdition\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyNhanVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhanVien_log', FILENAME = N'D:\SQLExpressEdition\MSSQL17.SQLEXPRESS\MSSQL\DATA\QuanLyNhanVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhanVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhanVien]
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 15/05/2026 8:56:13 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[MaCa] [nvarchar](20) NOT NULL,
	[MaLoaiCa] [nvarchar](20) NULL,
	[NgayLam] [date] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 15/05/2026 8:56:13 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [nvarchar](20) NOT NULL,
	[MaPhanCong] [nvarchar](20) NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[SoGioLam] [float] NULL,
	[LuongCa] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCa]    Script Date: 15/05/2026 8:56:13 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCa](
	[MaLoaiCa] [nvarchar](20) NOT NULL,
	[TenLoaiCa] [nvarchar](50) NULL,
	[GioBatDau] [time](7) NULL,
	[GioKetThuc] [time](7) NULL,
	[SoGio] [float] NULL,
	[HeSoLuong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 15/05/2026 8:56:13 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[CCCD] [nvarchar](20) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LuongGio] [decimal](15, 2) NULL,
	[LuongThuong] [decimal](15, 2) NULL,
	[NgayVaoLam] [date] NULL,
	[NgayNghiViec] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongCa]    Script Date: 15/05/2026 8:56:13 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongCa](
	[MaPhanCong] [nvarchar](20) NOT NULL,
	[MaCa] [nvarchar](20) NULL,
	[MaNV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 15/05/2026 8:56:13 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[Quyen] [nvarchar](20) NOT NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLam] ([MaCa], [MaLoaiCa], [NgayLam], [GhiChu]) VALUES (N'C1', N'CA_CHIEU', CAST(N'2026-05-20' AS Date), N'')
INSERT [dbo].[CaLam] ([MaCa], [MaLoaiCa], [NgayLam], [GhiChu]) VALUES (N'CA001', N'CA_SANG', CAST(N'2026-05-15' AS Date), N'')
INSERT [dbo].[CaLam] ([MaCa], [MaLoaiCa], [NgayLam], [GhiChu]) VALUES (N'CA002', N'CA_SANG', CAST(N'2026-05-15' AS Date), N'')
GO
INSERT [dbo].[ChamCong] ([MaChamCong], [MaPhanCong], [CheckIn], [CheckOut], [SoGioLam], [LuongCa]) VALUES (N'CC_1778797039228', N'PC_1778797017927', CAST(N'2026-05-15T05:17:19.230' AS DateTime), CAST(N'2026-05-15T07:51:55.463' AS DateTime), 2.57, CAST(51400.00 AS Decimal(15, 2)))
INSERT [dbo].[ChamCong] ([MaChamCong], [MaPhanCong], [CheckIn], [CheckOut], [SoGioLam], [LuongCa]) VALUES (N'CC_1778797040088', N'PC_1778797019323', CAST(N'2026-05-15T05:17:20.087' AS DateTime), CAST(N'2026-05-15T07:51:56.940' AS DateTime), 2.57, CAST(51400.00 AS Decimal(15, 2)))
GO
INSERT [dbo].[LoaiCa] ([MaLoaiCa], [TenLoaiCa], [GioBatDau], [GioKetThuc], [SoGio], [HeSoLuong]) VALUES (N'CA_CHIEU', N'Ca chiều', CAST(N'14:00:00' AS Time), CAST(N'18:00:00' AS Time), 4, 1)
INSERT [dbo].[LoaiCa] ([MaLoaiCa], [TenLoaiCa], [GioBatDau], [GioKetThuc], [SoGio], [HeSoLuong]) VALUES (N'CA_DEM', N'Ca đêm', CAST(N'22:00:00' AS Time), CAST(N'02:00:00' AS Time), 4, 1.5)
INSERT [dbo].[LoaiCa] ([MaLoaiCa], [TenLoaiCa], [GioBatDau], [GioKetThuc], [SoGio], [HeSoLuong]) VALUES (N'CA_LE', N'Ca lễ', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 9, 2)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SDT], [Email], [CCCD], [GioiTinh], [DiaChi], [NgaySinh], [ChucVu], [TrangThai], [LuongGio], [LuongThuong], [NgayVaoLam], [NgayNghiViec]) VALUES (N'NV000', N'Quản Trị Viên', N'0000000000', NULL, NULL, NULL, NULL, NULL, N'QUAN_LY', N'DANG_LAM', CAST(0.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(N'2026-05-15' AS Date), NULL)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SDT], [Email], [CCCD], [GioiTinh], [DiaChi], [NgaySinh], [ChucVu], [TrangThai], [LuongGio], [LuongThuong], [NgayVaoLam], [NgayNghiViec]) VALUES (N'NV001', N'changg', N'0973535937', N'', NULL, N'Nam', NULL, NULL, N'QUAN_LY', N'NGHI_VIEC', CAST(20000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(N'2026-05-15' AS Date), CAST(N'2026-05-15' AS Date))
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SDT], [Email], [CCCD], [GioiTinh], [DiaChi], [NgaySinh], [ChucVu], [TrangThai], [LuongGio], [LuongThuong], [NgayVaoLam], [NgayNghiViec]) VALUES (N'NV002', N'Bún', N'0973636937', N'', NULL, N'Nam', NULL, NULL, N'QUAN_LY', N'DANG_LAM', CAST(20000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(N'2026-05-15' AS Date), NULL)
GO
INSERT [dbo].[PhanCongCa] ([MaPhanCong], [MaCa], [MaNV]) VALUES (N'PC_1778797017927', N'CA001', N'NV001')
INSERT [dbo].[PhanCongCa] ([MaPhanCong], [MaCa], [MaNV]) VALUES (N'PC_1778797019323', N'CA001', N'NV002')
INSERT [dbo].[PhanCongCa] ([MaPhanCong], [MaCa], [MaNV]) VALUES (N'PC4006_NV002', N'CA003', N'NV002')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaNV], [Quyen], [NgayTao]) VALUES (N'admin', N'123456', N'NV000', N'ADMIN', CAST(N'2026-05-15T03:15:34.360' AS DateTime))
GO
ALTER TABLE [dbo].[LoaiCa] ADD  DEFAULT ((1)) FOR [HeSoLuong]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [LuongThuong]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [NgayVaoLam]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CaLam]  WITH CHECK ADD FOREIGN KEY([MaLoaiCa])
REFERENCES [dbo].[LoaiCa] ([MaLoaiCa])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaPhanCong])
REFERENCES [dbo].[PhanCongCa] ([MaPhanCong])
GO
ALTER TABLE [dbo].[PhanCongCa]  WITH CHECK ADD FOREIGN KEY([MaCa])
REFERENCES [dbo].[CaLam] ([MaCa])
GO
ALTER TABLE [dbo].[PhanCongCa]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
USE [master]
GO
